<section class="about section" id="about">
  <div class="container about__container">
    <div class="eyebrow">
      <svg width="16" height="16" aria-hidden="true">
        <use href="#icon-triangle"></use>
      </svg>
      <span class="eyebrow-text">О компании</span>
    </div>
    <h2 class="about__title title-h2">
      Хим Трейдинг — компания, на которую можно положиться
    </h2>
    <div class="about__content">
      <div class="about__block">
        <p class="about__desc">
          Мы специализируемся на оптовых поставках нефтепродуктов и нефтехимической продукции
          для объектов с повышенными требованиями к надежности, объемам и срокам
        </p>
      </div>
      <div class="about__block">
        <div class="about__row">
          <div class="about__wrapper--text">
            <p class="about__text">
              Работаем с владельцами сетей АГЗС, нефтебазами и ГНС, промышленными и
              нефтехимическими предприятиями, аэропортами и компаниями
              топливно-энергетического комплекса.
            </p>
            <p class="about__text">
              Осуществляем физическую торговлю. Прямые контракты и выстроенная логистика,
              позволяют обеспечивать бесперебойные поставки продукции.
            </p>
          </div>

          <a class="button-primary" href="/about.html">
            <span class="button-primary__icon" aria-hidden="true"></span>
            <span class="button-primary__text">Подробнее о компании</span>
          </a>
        </div>

        <ul class="about__list">
          <li class="about__item">
            <b>1,5</b>
            млн тонн продукции отгружено
          </li>
          <li class="about__item">
            <b>10+</b>
            регионов присутствия
          </li>
          <li class="about__item">
            <b>20</b>
            объектов регулярных поставок
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
