<section class="geography section" id="geography" aria-labelledby="geography-title">
  <div class="container geography__container">
    <div class="eyebrow">
      <svg width="16" height="16" aria-hidden="true">
        <use href="#icon-triangle"></use>
      </svg>
      <span class="eyebrow-text">География деятельности</span>
    </div>
    <h2 class="geography__title title-h2" id="geography-title">
      Осуществляем поставки на международных рынках
    </h2>

    <div class="geography__map-card">
      <include src="../partials/map.html"></include>
    </div>
  </div>
</section>
