<section class="stages section" id="stages" aria-labelledby="stages-title">
  <div class="container stages__container">
    <div class="eyebrow">
      <svg width="16" height="16" aria-hidden="true">
        <use href="#icon-triangle"></use>
      </svg>
      <span class="eyebrow-text">Этапы работы</span>
    </div>
    <h2 class="stages__title title-h2" id="stages-title">
      Как проходит <br> сотрудничество с нами
    </h2>

    <div class="stages__frame">
      <picture class="stages__picture">
        <source media="(max-width: 480px)" srcset="../assets/images/stages-work-frame-mobile.png" />
        <source media="(max-width: 640px)" srcset="../assets/images/stages-work-frame-tablet.png" />
        <img class="stages__background" src="../assets/images/stages-work-frame.png" alt="Фоновая картинка"
          width="1824" height="700" />
      </picture>

      <div class="stages__panel">
        <div class="stages__group">
          <h3 class="stages__group-title">Формирование</h3>
          <ul class="stages__list">
            <li class="stages__item">
              <span class="stages__index">01</span><span class="stages__text">Согласование ценового
                предложения</span>
            </li>
            <li class="stages__item">
              <span class="stages__index">02</span><span class="stages__text">Получение реквизитной заявки от
                покупателя</span>
            </li>
            <li class="stages__item">
              <span class="stages__index">03</span><span class="stages__text">Подписание контракта и
                спецификаций</span>
            </li>
            <li class="stages__item">
              <span class="stages__index">04</span><span class="stages__text">Оплата по выставленному инвойсу</span>
            </li>
          </ul>
        </div>

        <div class="stages__group">
          <h3 class="stages__group-title">Реализация</h3>
          <ul class="stages__list">
            <li class="stages__item">
              <span class="stages__index">01</span><span class="stages__text">Отгрузка продукции</span>
            </li>
            <li class="stages__item">
              <span class="stages__index">02</span><span class="stages__text">Получение товара в пункте
                назначения</span>
            </li>
            <li class="stages__item">
              <span class="stages__index">03</span><span class="stages__text">Подписание закрывающих
                документов</span>
            </li>
            <li class="stages__item">
              <span class="stages__index">04</span><span class="stages__text">Сделка закрыта</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
