.contacts-section__content {
  display: flex;
  gap: 32px;

  @media (max-width: 920px) {
    flex-direction: column;
  }
}

.contacts-section__info {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}

.contacts-section__title {
  margin-top: 16px;

  @media (max-width: 1200px) {
    font-size: 40px;
  }

  @media (max-width: 480px) {
    font-size: 32px;
  }
}

.contacts-section__description {
  margin-top: 48px;
  max-width: 472px;
  font-size: 24px;
  font-weight: 500;
  line-height: 116%;
  color: var(--brand-id-black);

  @media (max-width: 640px) {
    font-size: 18px;
    margin-top: 16px;
  }
}

.contacts-section__form {
  flex: 1 1 50%;
}