.footer {
  padding-top: 48px;
  padding-bottom: 36px;
  background: var(--brand-id-blue);
  color: var(--brand-id-white);
}

/* .footer__container {} */

.footer__logo {
  color: var(--brand-id-white);
}