.geography__title {
  max-width: 897px;
  margin-top: 16px;
}

.geography__map-card {
  position: relative;
  margin-top: 48px;
  height: 750px;
  overflow: hidden;
  border-radius: 4px;
  background: var(--brand-id-blue);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 920px) {
    height: 600px;
  }

  @media (max-width: 640px) {
    height: 570px;
    margin-top: 32px;
  }

  @media (max-width: 480px) {
    height: 524px;
  }
}

.geography-map {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}