<footer class="footer">
  <div class="container footer__container">
    <div class="footer__left">
      <a href="/" class="footer__logo" aria-label="Хим Трейдинг">
        <img src="../assets/images/Logo-white.svg" alt="Хим Трейдинг" width="240" height="29" />
      </a>

      <div class="footer__contacts">
        <div class="footer__contact">
          <span class="footer__label">Звоните, мы на связи</span>
          <a href="tel:+79150953279" class="footer__phone link-hover">
            <span>+7 915 095-32-79</span>
            <span class="span-default">+7 915 095-32-79</span>
            <span class="span-active">+7 915 095-32-79</span>
          </a>
        </div>

        <div class="footer__contact">
          <span class="footer__label">Почта для связи</span>
          <a href="mailto:office@chimtrading.com" class="footer__mail link-hover">
            <span>office@chimtrading.com</span>
            <span class="span-default">office@chimtrading.com</span>
            <span class="span-active">office@chimtrading.com</span>
          </a>
        </div>
      </div>

      <p class="footer__developer footer__developer--desktop">
        <span>Разработано в</span>
        <a href="https://hermon.group/" target="_blank" rel="noreferrer" class="footer__developer-link">
          Hermon Group
        </a>
      </p>
    </div>

    <div class="footer__right">
      <div class="footer__top">
        <nav class="footer__nav" aria-label="Навигация по сайту">
          <div class="footer__nav-group">
            <a href="/about.html" class="footer__link link-hover">
              <span>О компании</span>
              <span class="span-default">О компании</span>
              <span class="span-active">О компании</span>
            </a>
            <a href="/#activity" class="footer__link link-hover">
              <span>Деятельность</span>
              <span class="span-default">Деятельность</span>
              <span class="span-active">Деятельность</span>
            </a>
            <a href="/#products" class="footer__link link-hover">
              <span>Продукция</span>
              <span class="span-default">Продукция</span>
              <span class="span-active">Продукция</span>
            </a>
            <a href="/#geography" class="footer__link link-hover">
              <span>География поставок</span>
              <span class="span-default">География поставок</span>
              <span class="span-active">География поставок</span>
            </a>
          </div>

          <div class="footer__nav-group">
            <a href="/#documents" class="footer__link link-hover">
              <span>Паспорта качества</span>
              <span class="span-default">Паспорта качества</span>
              <span class="span-active">Паспорта качества</span>
            </a>
            <a href="/#why-choose" class="footer__link link-hover">
              <span>Преимущества</span>
              <span class="span-default">Преимущества</span>
              <span class="span-active">Преимущества</span>
            </a>
            <a href="/contacts.html" class="footer__link link-hover">
              <span>Контакты</span>
              <span class="span-default">Контакты</span>
              <span class="span-active">Контакты</span>
            </a>
          </div>
        </nav>
      </div>

      <div class="footer__details">
        <div class="footer__detail">
          <span class="footer__detail-label">Юридический адрес</span>
          <address class="footer__detail-content">
            Кыргызская Республика, 720010, г. Бишкек, Ленинский район, бульвар Молодой Гвардии, 20, кв. 1
          </address>
        </div>

        <div class="footer__detail">
          <span class="footer__detail-label">Представительство в России</span>
          <address class="footer__detail-content">г. Москва, Ленинградский проспект, 36, стр. 39</address>
        </div>

        <div class="footer__detail">
          <span class="footer__detail-label">Реквизиты</span>
          <ul class="footer__detail-list">
            <li>ОсОО «Хим Трейдинг»</li>
            <li>PH 219413-3301-ООО</li>
            <li>ИНН 02706202310407</li>
            <li>ОКПО 32065219</li>
          </ul>
        </div>
      </div>

      <a href="https://www.linkedin.com/" class="footer__social" aria-label="LinkedIn">
        <svg width="24" height="24" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M4 2.001C3.99974 2.53143 3.78877 3.04004 3.41351 3.41492C3.03825 3.78981 2.52943 4.00027 1.999 4C1.46857 3.99974 0.959965 3.78877 0.585079 3.41351C0.210194 3.03825 -0.000264966 2.52943 2.50361e-07 1.999C0.000265467 1.46857 0.211233 0.959965 0.586494 0.585079C0.961754 0.210194 1.47057 -0.000264966 2.001 2.50361e-07C2.53143 0.000265467 3.04004 0.211233 3.41492 0.586494C3.78981 0.961754 4.00027 1.47057 4 2.001ZM4.06 5.481H0.0600002V18.001H4.06V5.481ZM10.38 5.481H6.4V18.001H10.34V11.431C10.34 7.771 15.11 7.431 15.11 11.431V18.001H19.06V10.071C19.06 3.901 12 4.131 10.34 7.161L10.38 5.481Z"
            fill="currentColor" />
        </svg>
      </a>

      <div class="footer__meta">
        <div class="footer__links">
          <a href="/privacy-policy.html" class="footer__legal-link">Политика конфиденциальности</a>
          <a href="/processing-personal-data.html" class="footer__legal-link">Согласие на обработку персональных
            данных</a>
          <a href="/terms-use.html" class="footer__legal-link">Условия использования сайта</a>
        </div>

        <p class="footer__copyright">© ООО «Хим Трейд», 2026</p>
        <p class="footer__developer footer__developer--mobile">
          <span>Разработано в</span>
          <a href="https://hermon.group/" target="_blank" rel="noreferrer" class="footer__developer-link">
            Hermon Group
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
<include src="../partials/modal.html"></include>